{% extends 'blog/blog_index.html' %}
{% load staticfiles %}

{% block css %}
{{block.super}}
  <link rel="stylesheet"type="text/css" href="{% static 'blog/css/blog_category.css'%}"/>
{% endblock %}


{% block content %}
  <div class="content">
    {% for category_name,blog_queryset in category_to_blogs %}
      {% if blog_queryset %}
      <div class="content_index">       
            <p class="content_index_category">
              <span><i class="fa fa-hand-o-down fa-fw"></i>{{ category_name }}</span>
              <span style="display:inline-block;float:right"><a href="/blog/{{category_name}}/">更多<i class="fa fa-angle-double-right fa-fw"></i></a></span>
            </p>
            <ul class="content_index_list">
              {% for blog in blog_queryset %}
                <li>
                  <span class="fa fa-angle-right" style="padding-right:8px;"></span><span><a href="/blog/{{blog.category.name}}/{{blog.pk}}/">{{blog.title}}</a></span>
                  <span style="display:inline-block;float:right">{{blog.create_time|date:"Y-m-d"}}</span>
                </li>
              {% endfor %}
            </ul>   
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}